---
name: "Black"

on:
  pull_request:
    branches: ["master"]
    paths:
      - "**.py"
      - "**/requirements.txt"
  push:
    branches: ["master"]
    paths:
      - "**.py"
      - "**/requirements.txt"

jobs:
  black:
    name: runner / black
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v6
      - name: Set up Python environment
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - name: Lint with Black
        uses: psf/black@stable
